[submodule "package/suit/tagundo"]
	path = package/suit/tagundo
	url = https://github.com/tagundo/giran.git
[submodule "package/sql/tagundo"]
	path = package/sql/tagundo
	url = https://github.com/tagundo/zura.git
[submodule "package/card/tagundo"]
	path = package/card/tagundo
	url = https://github.com/tagundo/oom.git
